/* src/app/meeting-management-page/meeting-management-page.component.css */

.meeting-management-page-container {
  max-width: 1200px;
  margin: 20px auto; /* Add margin to improve spacing */
}

.meeting-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.meeting-card {
  background-color: #ecf0f1;
  color: #2c3e50;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #3498db;
  }

  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2980b9;
  }
}
